* {
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: Helvetica, Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin: 0px;
    padding: 0px;


}

.heading1 {
    text-align: justify;
    font-size: 16px;
    padding: 14px 0px 0px 16px;
    color: #4267b2;
}

.form1 {
    text-align: justify;
    padding: 11px 32px 0px 0px;
    font-size: 14px;
}

#mail {
    line-height: 34px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid #ccd0d5;
}

#pass {
    line-height: 34px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid #ccd0d5;

}

.butonl {
    line-height: 34px;
    font-size: 18px;
    padding: 0px 15px;
    border-radius: 8px;
    background-color: #4267b2;
    color: #fff;
    border: none;
}


.content {
    background-color: #e9ebee;
    height: 447px;
    text-align: center;
}

.box {
    width: 40%;
    background-color: #fff;
    height: 330px;
    display: inline-block;
    margin-top: 72px;
    line-height: 2;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
}

.box h1 {
    text-align: justify;
    padding: 15px 0px 0px 13px;
    font-size: 25px;
    height: 73px;
}

.form2 {
    line-height: 25px;
    font-size: 21px;
    word-spacing: 5px;
}

.label {
    text-align: justify;
    margin: 0px 14px;
}

#email {
    height: 40px;
    margin: 27px 0px;
    width: 97%;
    font-size: 19px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid #ccd0d5;
}

.divbuton {
    float: right;
    margin-right: 20px;
}

.butonc {
    height: 35px;
    width: 75px;
    border-radius: 8px;
    border: 1px solid #ccd0d5;
}

.butons {
    height: 35px;
    width: 75px;
    border-radius: 8px;
    background-color: #4267b2;
    color: #fff;
    border: none;
}

.divft {
    padding: 39px 320px 30px 329px;
    background-color: #fff;
    display: inline-block;
    font-size: 12px;
}

.footer {
    color: #9595a0;


}

.list1 {
    padding-left: 21px;
    width: 100%;
    margin-bottom: 14px;
    list-style-type: none;
    text-decoration: none;

}

.list1 li {
    display: inline;
}

.list2 {
    margin-top: 14px;
    list-style-type: none;
    text-decoration: none;
    padding-left: 21px;
    line-height: 22px;

}

.list2 li {
    display: inline;
}